<h1><%=@user.first_name%> <%=@user.last_name%></h1>
<br/>
<h2>My information:</h2>
<br/>
<h4>My age : <%=@user.age%></h4>
<h4>My email : <%=@user.email%></h4>
<h4>My description : <%=@user.description%></h4>
<h4>Created gossips : <%=@user.gossips.count%></h4>
